@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
  color: #000000;
}

.button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFE17F;
  /* background-color: transparent; */
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  background-color: #FFE17F;
}

/* Навигация */

.navigation {
  width: 1040px;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0 auto;
  
}

.navigation__top {
  display: flex;
}

.navigation__form {
  margin-right: 52px;
}

.navigation__search {
  width: 359px;
}

.navigation__user {
  width: 231px;
  display: flex;
  background-color: green;
}

.navigation__compare-cart {
  width: 241px;
  display: flex;
  margin-left: auto;
  background-color: red;
}

.navigation__catalog {
  width: 293px;
  background-color: pink;
}

.navigation__main-links {
  max-width: 599px;
  display: flex;
  margin-left: auto;
  background-color: blue;
}

.navigation__bottom {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  text-transform: uppercase;
}

.navigation__link {
  color: #000000;
  text-decoration: none;
}

.title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Товары на главной */

.gallery {
  display: flex;
}

.gallery__text {
  color: #444444;
}

.gallery__value {
  font-size: 36px;
  line-height: 30px;
}

.gallery__term {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.gallery__btn-pagination {
  display: flex;
}

.gallery__pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

/* Категории товаров */

.goods {
  margin-bottom: 70px;
}

.goods-wrapper {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods__list {
  display: flex;
}

.goods__item:not(:last-child) {
  margin-right: 40px;
}

.goods__img {
  display: block;
  /* margin: auto; */
}

.goods__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

/* .goods__img {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.goods__img--vr {
  background-image: url(../img/logo/logo-vr.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.goods__img--monopod {
  background-image: url(../img/logo/logo-monopod.svg);
  background-position: center 40px;
  background-repeat: no-repeat;
} */

/* Доставка, гарантия, кредит */

.delivery {
  display: flex;
  margin-bottom: 142px;
}

.delivery__list {
  width: 120px;
}

.delivery__item {
  margin-bottom: 55px;
}

.delivery__text-container {
  display: flex;
}

.delivery__desc {
  width: 448px;
}

.delivery__text {
  color: #444444;
}

/* Редкая доставка */

.rare-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 117px;
  background-color: #F0F0F0;
}

.rare-delivery__logo {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url(../img/icon/icon-fast-delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rare-delivey__desc {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rare-delivery__info {
  width: 125px;
  height: 100px;
  background-image: url(../img/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* О нас, Контакты */

.about-contacts {
  display: flex;
}

.about {
  width: 520px;
}

.about__title {
  position: relative;
}

.about__title::before {
  position: absolute;
  top: -40px;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.about__text-top,
.about__text-bottom {
  color: #444444;
}

.about__list {
  font-weight: 700;
  color: #000000;
}

/* Контакты */

.contacts {
  width: 532px;
  color: #444444;
}

.contacts__title {
  position: relative;
  color: #000000;
}

.contacts__title::before {
  position: absolute;
  top: -40px;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.contacts__address {
  font-style: normal;
}

/* Подпишись на рассылку */

/* .page-email__container {
  background-color: #F0F0F0;
}

.email {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
} */

/* !!!!!!!!!!!!!!!!!! */

.email {
  background-color: #f0f0f0;
}

.page-email__container {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
}

/* !!!!!!!!!!!!!!!!!! */

.email__text-container {
  display: flex;
}

.email__title {
  margin-right: 252px;
}

.email__desc {
  width: 560px;
}

.email__form-note {
  display: flex;
}

.email__input {
  width: 557px;
}

.email__button {
  margin-right: 220px;
}

/* FOOTER */

.page-footer {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer__cotainer {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 61px;
}

.footer__container-top,
.footer__container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  font-style: normal;
}

.footer__list {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  text-transform: uppercase;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__address {
  text-decoration: underline;
}

.footer__phone {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer__socials-list {
  display: flex;
}

/* Каталог */

.inner-header {
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  background-color: red;
}

.inner-header__container {
  padding-left: 60px;
  padding-bottom: 35px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
}

.breadcrumbs__item {
  margin-right: 36px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

/* Фильр и сортировка */

.page-container__inner {
  background-color: #E5E5E5;
}

.page-page {
  width: 1160px;
  /* display: flex; */
  margin: 0 auto;
  /* padding-left: 60px; */
  background-color: pink;
}

.catalog-filter {
  display: flex;
}

/* Сортировка */

.sorting {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 40px;
  /* background-color: tomato; */
  text-transform: uppercase;
}

.sorting__control {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* Фильтр */

.filter__form {
  width: 320px;
  padding-left: 60px;
}

.filter__title {
  font-weight: 700;
  line-height: 20px;
}

.filter__control {
  font-size: 16px;
  line-height: 19px;
}

/* Список товаров */

.catalog-right-column {
  width: 840px;
}

.product__link {
  color: #000000;
  text-decoration: none;
}

.product__title {
  font-size: 18px;
  line-height: 21px;
}

.product__price {
  line-height: 21px;
  color: #444444;
}

/* Пагинация */

.pagination__button {
  font-family: Raleway;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.pagination__link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination__prev, 
.pagination__next {
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 1;
}